<div class="Header px-5">
  <div class="Header-item">
    <a href="#" class="Header-link f4 d-flex flex-items-center mr-2">
      <%= octicon("search") %>
      <span>Timber Logs</span>
    </a>
  </div>
  <div class="Header-item Header-item--full">
    &nbsp; <!-- spacer -->
  </div>
  <div class="Header-item mr-0">
    <label class="switch tooltipped tooltipped-sw" aria-label="Toggle Dark Mode">
      <input type="checkbox" id="darkSwitch">
      <span class="slider round"></span>
    </label>
  </div>
</div>
